html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

